@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.department{
  margin: 2.5rem 0.5rem;
  padding-top: 1rem;
}
.dept-header {
  color: #00067f;
  font-family: "Poppins", sans-serif, bold;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.first-dept,
.second-dept {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.0625rem solid black;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.dept-name {
  color: #00067f;
  font-weight: 700;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif, bold;
  text-align: center;
}
.dept1-detail,
.dept2-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.dept1-detail .dept-content {
  padding: 0 1rem;
  margin-top: 1.125rem;
  line-height: 2rem;
}

.dept2-detail .dept-content {
  padding: 0 1rem;
  margin-top: 1.125rem;
  line-height: 2rem;
}

.dept-img img {
  width: 30vw;
  height: auto;
  border-radius: 1rem;
  margin: 0.5rem;
}

.read-more-button {
  background-color: #00067f;
  border: none;
  border-radius: 5px;
  padding: 3px;
  margin-left: 0.5rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 12px;
}

.read-more-button:hover {
  color: white;
  background-color: rgb(62, 62, 181);
}

.read-less-button {
  background-color: #00067f;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-left: -0.2rem;
  transition: color 0.3s ease;
}

.read-less-button:hover {
  color: white;
  background-color: rgb(62, 62, 181);
}

.dept-contact {
  margin: 1rem 0;
  font-family: "Poppins", sans-serif, bold;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .first-dept,
  .second-dept {
    flex-direction: column;
  }
}
