.team {
    min-height: 100vh;
    text-align: center;
    padding-top: 4vh;
  }
.team  h1{
    font-size: 10vh;
    font-weight: 700;
    color: rgb(92, 91, 91);
}
.team p{
    margin: 2rem;
    font-size: 2.5vh;
}