@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --c4-font-1: "Poppins", sans-serif;

  --c4-white-1-100: #FFFFFF;
  --c4-blue-1-100: #3D42B0;
  --c4-black-1-100: #2B2B2B;
  --c4-grey-1-100: #B4B4B4;
  --c4-header-blue-1-100: #00067F;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--c4-font-1);
  -webkit-tap-highlight-color: transparent;
}